body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container ,.container1{
    width: 500px;
    
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container1{
    text-align: justify;
    width: 500px;
    height: 350px;
    background-image: url("people.jpg");
}
.our{
    font-size: 20px;
  color: rgb(192, 168, 214);
}
.sign{
    text-align: center;
    font-size: large;
    font-size: 28px;
  color: rgb(239, 236, 241);
}
.sel{
    padding-left: 30px;
    font-size: 28px;
  color: rgb(239, 236, 241);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.remember-me {
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    align-items: left;
    justify-content:center;
}


.login-button,
.signup-button {
    width: 60%;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.signup-button {
    background-color: #0000ff;
}

.forgot-password {
    text-align: right;
    font-size: 13px;
}

.terms-privacy {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}
